@font-face {
  font-family: Doto;
  src: url('./fonts/Doto/Doto-VariableFont_ROND\,wght.ttf') format('truetype');
}

@font-face {
  font-family: Roboto;
  src: url('./fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf') format('truetype');
}

:root {
  --purple-color: #463e6c;
  --game-background: #e8cea8;
  --second-purple: #2c0f2b;
  --border-top-size: 25px;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  text-align: center;
  background-color: #ccc;
  overflow: hidden;
}

canvas {
  font-family: "Doto";
  border: 2px solid black;
  margin: 2rem auto;
  border-radius: 2%;
}

.main-title {
  margin-top: 0.5rem;
  font-size: 3rem;
  color: var(--purple-color);
  position: relative;
  left: 2.5%;
}

.snake-unicode {
  position: relative;
  left: -2.5%;
}

.start-game {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.start-game-btn {
  background-color: rgba(45, 5, 243, 0.959);
  color: rgb(247, 247, 111);
  width: 80px;
  height: 80px;
  font-size: 3rem;
  line-height: 80px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid black;
  cursor: pointer;
  padding-left: 10px;
}

.menu {
  position: absolute;
  margin: 2rem;
  background-color: var(--second-purple);
  border: 20px solid;
  border-top: 30px solid;

  border-image: repeating-linear-gradient(
    30deg,
    var(--purple-color) 0,
    var(--purple-color) 10px,
    var(--second-purple) 10px,
    var(--second-purple) 20px
  ) 15;
}

.keybindings {
  right: 5%;
  width: 350px;
  height: 350px;
}

.keybindings::before {
  content: "Control";
  color: whitesmoke;
  font-size: 25px;
  position: relative;
  top: -9.7%;
  left: +25%;
}

.group-key {
  display: grid;
  margin: 20% 0;
  justify-content: center;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: repeat(2, 80%);
  gap: 10px 10px; 
  grid-template-areas: 
    ". arrowUp ."
    "arrowLeft arrowDown arrowRight"; 
}

.arrowUp {
  grid-area: arrowUp;
}
.arrowUp span {
  transform: rotate(90deg);
}
.arrowDown {
  grid-area: arrowDown;
}
.arrowDown span {
  transform: rotate(-90deg);
}
.arrowLeft {
  grid-area: arrowLeft;
}
.arrowRight { grid-area: arrowRight; }

.key {
  background-color: #efdfdf;
  height: 70px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-right: 5px solid rgb(65, 63, 63);
  border-bottom: 5px solid rgb(65, 63, 63); */
  box-shadow: 4px 4px teal;
}

.settings {
  left: 10%;
  width: 250px;
  height: 500px;
}

.settings::before {
  content: "Settings";
  color: whitesmoke;
  font-size: 25px;
  position: relative;
  top: -6.7%;
  left: +25%;
}

.option-btn {
  width: 80px;
  height: 80px;
  font-size: 3rem;
  border-radius: 50%;
  background-color: crimson;
  color: whitesmoke;
  cursor: pointer;
  margin: .2rem 0;
}

.option-btn:hover {
  background-color: rgb(160, 13, 43);
}

.sound-options::after {
  content: "Sound";
  font-size: 1.5rem;
  text-align: center;
  color: whitesmoke;
  padding: 0 2rem;
  margin: 0;
}

.tiles-options::after {
  content: "Toggle Tiles";
  font-size: 1.5rem;
  color: whitesmoke;
  padding: 0 2rem;
}

@media (max-width: 1500px) {
  .settings {
    left: 0%;
  }

  .keybindings {
    right: 0%;
  }
}