@font-face {
  font-family: Doto;
  src: url('./fonts/Doto/Doto-VariableFont_ROND\,wght.ttf') format('truetype');
}

@font-face {
  font-family: Roboto;
  src: url('./fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf') format('truetype');
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #ccc;
}

canvas {
  font-family: "Doto";
  border: 2px solid black;
  margin: 5rem;
}